.contacts {
  padding: 186px 0 160px;
}

.contacts__title {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #121212;
}

.contacts__title-wrapper {
  position: relative;
  margin-bottom: 32px;
  /* добавил после pixel perfect */
  display: inline-block;
  left: -1px;
}

.contacts__title-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  /* bottom: 37px - высчитал как 25(высота "Контакты") + 12 смещение вверх до значка от "контакты"  */
  bottom: 37px;
  /* скорректировал после pixel perfect сделал -4 так как -1 сделал в contacts__title-wrapper в итоге -5*/
  /* left: -5px; */
  left: -4px;
  width: 24px;
  height: 24px;
  background-image: url("../resources/contacts-icons/contacts-icons-phone.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* border: 1px solid red; */
}

.contacts__telephone,
.contacts__email {
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
}

.contacts__telephone-wrapper {
  margin-bottom: 30px;
}

/* .contacts__email {
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
} */

.contacts__email-wrapper {
  position: relative;
  /* чтобы hover работал только по этой ширине а не на всю ширину div */
  width: 412px;
}

.contacts__email-wrapper:hover::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 3px;
  width: 406px;
  /* задал высоту чтобы было видно-2px взял из свойства border: 2px solid #121212 */
  height: 2px;
  background-color: #121212;
}

.contacts__telephone:hover,
.contacts__email-wrapper:hover {
  opacity: 0.5;
}
