/* .contacts {
  padding: 186px 0 160px;
}

.contacts__title {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #121212;
}

.contacts__title-wrapper {
  position: relative;
  margin-bottom: 32px;
  добавил после pixel perfect
  display: inline-block;
  left: -1px;
}

.contacts__title-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 37px - высчитал как 25(высота "Контакты") + 12 смещение вверх до значка от "контакты" 
  bottom: 37px;
  скорректировал после pixel perfect сделал -4 так как -1 сделал в contacts__title-wrapper в итоге -5
  
  left: -4px;
  width: 24px;
  height: 24px;
  background-image: url("../resources/contacts-icons/contacts-icons-phone.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 1px solid red;
}

.contacts__telephone,
.contacts__email {
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #121212;
}

.contacts__telephone-wrapper {
  margin-bottom: 30px;
}



.contacts__email-wrapper {
  position: relative;
  чтобы hover работал только по этой ширине а не на всю ширину div
  width: 412px;
}

.contacts__email-wrapper:hover::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 3px;
  width: 406px;
  задал высоту чтобы было видно-2px взял из свойства border: 2px solid #121212
  height: 2px;
  background-color: #121212;
}

.contacts__telephone:hover,
.contacts__email-wrapper:hover {
  opacity: 0.5;
} */

.contacts {
  padding: 150px 0 150px;
  color: #121212;
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* вместо column-gap: 104px - подобрал при pixel perfect */
  column-gap: 54px;
}

.contacts-item {
  width: calc(50% - 52px);
}

.contacts__title {
  margin-bottom: 64px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.contacts-item__telephone-wrapper {
  position: relative;
  padding-top: 10px;
  /* чтобы hover работал только по этой ширине а не на всю ширину div */
  width: 472px;
}

.contacts-item__email-wrapper {
  position: relative;
  /* чтобы hover работал только по этой ширине а не на всю ширину div */
  width: 412px;
}

.contacts-item__telephone-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 86px;
  left: -6px;
  width: 24px;
  height: 24px;
  background-image: url("../resources/contacts-icons/contacts-icons-phone_desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.contacts-item__email-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 75px;
  left: -1px;
  width: 24px;
  height: 24px;
  background-image: url("../resources/contacts-icons/contacts-icons-email_desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.contacts-item__email-wrapper:hover::after,
.contacts-item__telephone-wrapper:hover::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 4px;
  width: 406px;
  /* задал высоту чтобы было видно-2px взял из свойства border: 2px solid #121212 */
  height: 2px;
  background-color: #121212;
}

.contacts-item__telephone-wrapper_long-line:hover::after {
  width: 465px;
}

.contacts-item__telephone,
.contacts-item__email {
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;
  color: inherit;
}

/* пробую - спросить у gpt как сделать чтобы при наведении все тускнели кроме иконки */

.contacts-item__telephone-wrapper:hover,
.contacts-item__email-wrapper:hover {
  opacity: 0.5;
}

@media (max-width: 1199px) {
  .contacts {
    padding: 120px 0 120px;
  }

  .contacts-list {
    /* вместо column-gap: 114px - подобрал при pixel perfect */
    column-gap: 63px;
  }

  .contacts-item {
    width: calc(50% - 57px);
  }

  .contacts-item__telephone-wrapper {
    /* чтобы hover работал только по этой ширине а не на всю ширину div */
    width: 354px;
    /* после pixel perfect */
    padding-left: 2px;
  }

  .contacts-item__email-wrapper {
    position: relative;
    /* чтобы hover работал только по этой ширине а не на всю ширину div */
    width: 309px;
  }

  .contacts-item__telephone-wrapper::before {
    /* после pixel pefect */
    bottom: 87px;
    left: -4px;
  }

  .contacts-item__email-wrapper::before {
    /* после pixel pefect */
    bottom: 76px;
    left: 0;
  }

  .contacts-item__email-wrapper:hover::after,
  .contacts-item__telephone-wrapper:hover::after {
    bottom: 1px;
    left: 4px;
    width: 305px;
  }

  .contacts-item__telephone-wrapper_long-line:hover::after {
    width: 354px;
  }

  .contacts-item__telephone,
  .contacts-item__email {
    font-size: 45px;
  }
}

@media (max-width: 767px) {
}
