/* .footer {
  padding-top: 60px;
  padding-bottom: 30px;
  min-width: 1180px;
  background-color: #121212;
}

.footer-nav-menu {
  то что закоментил использовал когда выравнивал по центру
  это свойство не нужно иначе не спозиционируется по центру-если делать по центру закоментить - закоментил
  display: inline-block;
  сделал по центру padding-left закоментил
  после pixel perfect position: relative
  position: relative;
  left: -4px;
  margin: 0 auto;
  margin-bottom: 87px;
  width: 450px;
  после pixel perfect padding-left
  задал примерно сам по макету отличаются - чтобы просмотреть надо на это время прописать display: inline-block;
}

.footer-nav-menu__item {
  display: inline-block;
  после pixel perfect margin-right: 51px
  margin-right: 51px;
}

.footer-nav-menu__link {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
}

после pixel perfect
.footer-nav-menu__item-shiftproject {
  margin-right: 54px;
}
после pixel perfect
.footer-nav-menu__item-shiftservices {
  margin-right: 53px;
}

.footer-nav-menu__item:last-child {
  margin-right: 0px;
}

.footer-nav-menu__link:hover {
  opacity: 0.5;
}

.footer__copyright {
  то что закоментил-когда выравнивал по центру
  сделал по центру padding-left закоментил
  после pixel perfect position: relative
  position: relative;
  left: 3px;
  text-align: center;
  после pixel perfect padding-left
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  opacity: 0.5;
}
 */