.header {
  margin-bottom: 70px;
  /* padding-top: 32.82px; */
  padding-top: 33px;
  /* Для подсветки header-для проверки - потом удалить */
  /* background-color: aqua; */
  /* возможно убратьв адаптиве */
  /* min-width: 1180px; */
}

.header-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 127px;
  height: 22px;
  /* чтобы прижать лого к верху - чтобы совпало в pixel perfect */
  align-self: flex-start;
}

.header__logo-link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.header__logo-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-menu__list {
  display: flex;
  /* после pixel perfect */
  gap: 61px;
}

.nav-menu__link {
  /* добавил для позиционирования подчеркивания с помощью absolute */
  position: relative;
  display: inline-block;
  /* закоментил так как вроде есть line-height */
  /* height: 25px; */
  line-height: 25px;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #121212;
}

/* если в 3 чекпоинте сделаю nav-menu через ul li список возможно применять after к li - применяется к <a>*/
.nav-menu__link:hover::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
}

.nav-menu__link:hover {
  opacity: 0.5;
}

/* burger */

.body_fixed {
  overflow: hidden;
}

.burger-btn {
  display: none;
}

.burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* чтобы burger__content был справа - justify-content: end*/
  display: flex;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.burger_open {
  opacity: 1;
  visibility: visible;
}

.burger__content {
  width: 80%;
  height: 100%;
  background-color: #fff;
  /* справа 10px задал сам - может потом скорректировать */
  padding: 80px 10px 65px 30px;
}

@media (max-width: 1199px) {
  .header {
    margin-bottom: 73px;
  }

  .nav-menu {
    display: none;
  }

  .burger-btn {
    position: absolute;
    right: 0;
    top: -5px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    width: 50px;
    /* высчитывается как 2px+2px+4px */
    height: 8px;
  }

  .burger-btn__line {
    width: 100%;
    border: 1px solid #000;
  }

  .burger-btn__line_short {
    width: 31px;
  }

  .burger-btn_open {
    /* подобрал на глаз top */
    top: 15px;
    gap: 0;
  }

  /* чтобы подровнять кнопку-крестик */
  .burger-btn_open .burger-btn__line {
    margin-bottom: -2px;
  }

  .burger-btn_open .burger-btn__line:nth-child(1) {
    transform: rotate(-45deg);
  }

  .burger-btn_open .burger-btn__line:nth-child(2) {
    width: 100%;
    transform: rotate(45deg);
  }
}

@media (max-width: 767px) {
}
