.services {
  padding: 151px 0 150px;
  background-color: #121212;
  color: #ffffff;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 80.7px;
  margin-bottom: 103.88px;
}

.service-item {
  /* не нужно так как применяю флексбокс - потом все что не нужно удалить */
  /* margin-bottom: 60px; */
  width: calc(50% - 5.5px);
  /* для pixel perfect - чтобы спозиционировать по макету */
  position: relative;
}

/* не нужно так как применяю флексбокс */
/* .service-item:nth-last-child(1) {
  margin-bottom: 0;
} */

/* еще один вариант обнуления отступа у последнего элемента в ul - есть пробел между :  */
/* .service-list :nth-last-child(1) {
  margin-bottom: 0;
} */

.services__title {
  /* было раньше в первом макете */
  /* margin-bottom: 34px; */
  margin-bottom: 29.93px;
  /* после pixel perfect про padding */
  padding-left: 2px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.service-item__price {
  position: absolute;
  left: 30px;
  top: 31.51px;
  padding: 5px 22px 5px 20px;
  background-color: #ad1818;
  border-radius: 5px;
  /* чтобы при сужении экрана текст был по центру */
  text-align: center;
  font-size: 22px;
  line-height: 30px;
}

.service-item__price_sizes-lowerleft {
  left: 32px;
  top: 33.85px;
  padding-left: 20px;
  padding-right: 20px;
}

.service-item__price_sizes-lowerright {
  top: 33.85px;
  padding-left: 21px;
  padding-right: 21px;
}

.service-item__image-wrapper {
  margin-bottom: 24.94px;
  /* margin-bottom: 15px; */
  /* height: 270px; */
  height: 388.03px;
}

.service-item__image-wrapper_bottom-first-column {
  margin-bottom: 25.82px;
}

.service-item__image-wrapper_bottom-second-column {
  margin-bottom: 25.94px;
}
.service-item__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-item__desc {
  font-size: 30px;
  line-height: 40px;
  /* для первого макета десктоп */
  /* line-height: 41px; */
  /* не стал указывать-ширина здесь не критична */
  /* width: 541px; */
  /* можно было указать здесь если не указывать width: 541px*/
  /* padding-left: 3px; */
}

.service-item__indent-wrapper {
  padding-left: 3px;
}

/* для pixel perfect */
.service-item__indent-wrapper_large-left-padding {
  padding-left: 5px;
}

/* для pixel perfect */
.service-item__position-onepx {
  /* для первого макета десктоп */
  /* left: 1px; */
  left: 0;
}

.service-item__position-twopx {
  /* для первого макета десктоп */
  /* left: 2px; */
  left: 0;
}

.services_btn {
  display: block;
  width: 100%;
  padding: 55px 0;
  border: 1px solid #ad1818;
  border-radius: 5px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  background-color: #ad1818;
  color: #fff;
  cursor: pointer;
}

.services_btn:hover {
  background-color: #fff;
  color: #ad1818;
  border: 1px solid #ad1818;
}

@media (max-width: 1199px) {
  .services {
    padding-bottom: 120px;
  }

  .services__title {
    margin-bottom: 30px;
    /* после pixel perfect про padding */
    padding-left: 4px;
  }

  .service-list {
    row-gap: 80px;
    margin-bottom: 80px;
  }

  .service-item {
    width: calc(50% - 5px);
  }

  .service-item__image-wrapper {
    margin-bottom: 15px;
    height: 315px;
  }

  .service-item__image-wrapper_bottom-first-column,
  .service-item__image-wrapper_bottom-second-column {
    margin-bottom: 14px;
  }

  .service-item__desc {
    font-size: 25px;
    line-height: 34px;
  }
}

@media (max-width: 767px) {
}
