@import "header.css";
@import "hero.css";
@import "about.css";
@import "projects.css";
@import "services.css";
@import "reviews.css";
@import "gallery.css";
@import "contacts.css";
@import "footer.css";
@import "popup.css";

* {
  box-sizing: border-box;
  letter-spacing: -0.03em;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  width: 100%;
  font-weight: 400;
  background: #ffffff;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1180px;
}

/* Адаптив */

@media (max-width: 1199px) {
  .container {
    max-width: 100%;
    padding-left: 15px;
    /* padding-right: 15px; */
    /* сжелал пока так */
    padding-right: 17px;
    /* потом закоментить */
    /* background-color: green; */
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 13px;
    padding-right: 12px;
    /* потом закоментить */
    /* background-color: red; */
  }
}
